name: Build and Push to Docker Hub

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 18 * * *'
  workflow_dispatch:

concurrency: docker-build

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: srgr0
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Log in to GitHub Container Repository
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          push: true
          platforms: linux/amd64, linux/arm64
          tags: |
            srgr0/42-devcontainer:latest
            srgr0/42-devcontainer:${{ github.sha }}
            ghcr.io/srgr0/42-devcontainer:latest
            ghcr.io/srgr0/42-devcontainer:${{ github.sha }}
#          cache-from: |
#            type=registry,ref=srgr0/42-devcontainer:cache
#            type=registry,ref=ghcr.io/srgr0/42-devcontainer:cache
          cache-to: |
            type=registry,ref=srgr0/42-devcontainer:cache,mode=max
            type=registry,ref=ghcr.io/srgr0/42-devcontainer:cache,mode=max
